
</button>
  <div class="sidebar">
  <div class="area">
    
  </div><nav class="main-menu">
              <ul>
                   <li class="has-subnav">
                      <a href="#">
                          <i class="fa fa-globe fa-2x"></i>
                          <span class="nav-text">
                              POS Bán hàng
                          </span>
                      </a>
                      
                  </li>
                  <li class="has-subnav">
                      <a href="#">
                          <i class="fa fa-globe fa-2x"></i>
                          <span class="nav-text">
                              Tổng quan
                          </span>
                      </a>
                      
                  </li>
                  <li class="has-subnav">
                      <a href="#">
                        <i class="fa fa-comments fa-2x"></i>
                          <span class="nav-text">
                              Đơn hàng
                          </span>
                      </a>
                      
                  </li>
                  <li class="has-subnav">
                      <a href="#">
                        <i class="fa fa-camera-retro fa-2x"></i>
                          <span class="nav-text">
                              Sản phẩm
                          </span>
                      </a>
                    
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-film fa-2x"></i>
                          <span class="nav-text">
                              Khách hàng
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-book fa-2x"></i>
                          <span class="nav-text">
                            Nhập kho
                          </span>
                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <i class="fa fa-cogs fa-2x"></i>
                          <span class="nav-text">
                              Chuyển kho
                          </span>
                      </a>
                  </li>
                  <li>
                    <a href="#">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <span class="nav-text">
                              Tồn kho
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                          <span class="nav-text">
                              Doanh số
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                          <span class="nav-text">
                              Thu - chi
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                          <span class="nav-text">
                              Lợi nhuận
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                          <span class="nav-text">
                              Thiết lập
                          </span>
                      </a>
                  </li>
              </ul>

          </nav>
  </div>