<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quên mật khẩu</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="bg-dark">
      <div class="container">
        <div class="card card-login mx-auto mt-5">
          <div class="card-header bg-primary text-white">Yêu cầu đổi mật khẩu</div>
          <div class="card-body">
            <div class="text-center mb-4">
              <h4>Quên mật khẩu?</h4>
              <p>Nếu quên mật khẩu hãy liên hệ với quản lý để nhận được mail đổi mật khẩu tại mail đã đăng ký</p>
            </div>
            <hr>
            <div class="text-center">
              <br>
              <a class="d-block small" href="/login">Quay về trang đăng nhập</a>
              <br>
            </div>
          </div>
        </div>
      </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
  </body>
</html>
